@charset "UTF-8";

@font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); 


@media (min-width:850px) {
    body {
       width: 100%;
       margin: 0 auto;
      }
  
   #header{width: 100%; border-bottom: 1px solid #d7d7d7; 
       background-color: #fff;
       z-index: 1;}
   .top{width: 1200px; margin: 20px auto; display: flex; 
      justify-content: space-between;
      align-items: center;}
   .logo{ width: 200px;}
   .logo img{width: 100%;}
   .top nav{width: 800px;}
   .menu{display: flex; justify-content: space-between;}
   .menu li a{color: #000;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

   .sub_menu{ display: none;
   }

   .devices{
      width: 1280px;
      margin: 0 auto;
   }
    .devices ul{
       width: 100%;
       display: flex;
       flex-direction: column;
       
    }
    .devices ul li{
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 500px;
       border-bottom: 1px #777;
       
    } .devices ul hr{
      background-color: #fff;
      padding: 0;
      margin: 20px;
    }
    .devices ul hr.hr1{
      border-top: 1px dotted #b1b1b1;
      border-bottom: 1px dotted #fff;
    }
   
    /* .devices ul li:nth-child(even){
        background-color: #f4f4f4;
    } */
    .devices ul li .txt-wrap{
       width: 50%;
       
    }
    .devices ul li .txt-wrap{
        width: 50%;
        padding: 30px;
        
     }
     .devices ul li .txt-wrap .dev-tit{
        font-size: 45px;
        font-weight: 850;
        color: #4165d7;
     }
     .devices ul li .txt-wrap h3{
        font-size: 25px;
        padding: 20px 0;
     }

     .devices ul li .txt-wrap p{
        font-size: 20px;
        padding-bottom: 10px;
     }
     .devices ul li .img-wrap{
        width: 50%;
        display: flex;
        justify-content: center;
        
     }
     .devices ul li .img-wrap img{
      max-width: 100%;
      height: auto;
      object-fit: contain;
     }
}